db/*.sqlite3
log/*.log
tmp/
gem_make.out
vendor/gems/*/.specification
public/images/site/*
public/images/products/*
log/mongrel.pid

# ignore built RedCloth files
vendor/gems/RedCloth-4.2.3/ext/redcloth_scan/Makefile
vendor/gems/RedCloth-4.2.3/ext/redcloth_scan/redcloth_attributes.o
vendor/gems/RedCloth-4.2.3/ext/redcloth_scan/redcloth_inline.o
vendor/gems/RedCloth-4.2.3/ext/redcloth_scan/redcloth_scan.o
vendor/gems/RedCloth-4.2.3/ext/redcloth_scan/redcloth_scan.so
vendor/gems/RedCloth-4.2.3/lib/redcloth_scan.so

# ignore built nokogiri files
vendor/gems/nokogiri-1.4.1/ext/nokogiri/Makefile
vendor/gems/nokogiri-1.4.1/ext/nokogiri/html_document.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/html_element_description.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/html_entity_lookup.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/html_sax_parser_context.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/mkmf.log
vendor/gems/nokogiri-1.4.1/ext/nokogiri/nokogiri.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/nokogiri.so
vendor/gems/nokogiri-1.4.1/ext/nokogiri/xml_attr.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/xml_attribute_decl.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/xml_cdata.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/xml_comment.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/xml_document.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/xml_document_fragment.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/xml_dtd.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/xml_element_content.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/xml_element_decl.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/xml_encoding_handler.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/xml_entity_decl.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/xml_entity_reference.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/xml_io.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/xml_namespace.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/xml_node.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/xml_node_set.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/xml_processing_instruction.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/xml_reader.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/xml_relax_ng.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/xml_sax_parser.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/xml_sax_parser_context.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/xml_sax_push_parser.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/xml_schema.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/xml_syntax_error.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/xml_text.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/xml_xpath.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/xml_xpath_context.o
vendor/gems/nokogiri-1.4.1/ext/nokogiri/xslt_stylesheet.o
vendor/gems/nokogiri-1.4.1/lib/nokogiri/nokogiri.so

# ignore built rmagick files
vendor/gems/rmagick-2.13.1/ext/RMagick/Makefile
vendor/gems/rmagick-2.13.1/ext/RMagick/RMagick2.so
vendor/gems/rmagick-2.13.1/ext/RMagick/extconf.h
vendor/gems/rmagick-2.13.1/ext/RMagick/mkmf.log
vendor/gems/rmagick-2.13.1/ext/RMagick/rmagick.o
vendor/gems/rmagick-2.13.1/ext/RMagick/rmdraw.o
vendor/gems/rmagick-2.13.1/ext/RMagick/rmenum.o
vendor/gems/rmagick-2.13.1/ext/RMagick/rmfill.o
vendor/gems/rmagick-2.13.1/ext/RMagick/rmilist.o
vendor/gems/rmagick-2.13.1/ext/RMagick/rmimage.o
vendor/gems/rmagick-2.13.1/ext/RMagick/rminfo.o
vendor/gems/rmagick-2.13.1/ext/RMagick/rmmain.o
vendor/gems/rmagick-2.13.1/ext/RMagick/rmmontage.o
vendor/gems/rmagick-2.13.1/ext/RMagick/rmpixel.o
vendor/gems/rmagick-2.13.1/ext/RMagick/rmstruct.o
vendor/gems/rmagick-2.13.1/ext/RMagick/rmutil.o
vendor/gems/rmagick-2.13.1/lib/RMagick2.so

