- title "Checkout"

%p= "I'm sorry to see that your cart is currently empty! Please browse our #{link_to 'products', :controller => 'products', :action => 'list'} and come back once you have added something to your cart. Happy shopping.'"

