/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset ol li p.inline-hints { color:#333; }

--------------------------------------------------------------------------------------------------*/

form.formtastic fieldset#option_generator {
    border: solid 1px;
    padding: 20px;
}

form.formtastic fieldset#option_generator ol li.boolean label{
    display: block;
    float: left;
    padding: 0;
    padding-top: 0.2em;
    width: 100%;
}

form.formtastic fieldset#option_generator ol li.boolean input{
    float:right;
    margin-right: 73%;
}

form.formtastic fieldset#option_generator fieldset.buttons ol li {
    margin-bottom: 0;
}

form.formtastic fieldset#option_generator {
    margin-bottom: 20px;
}

