<li <%= "id='selected_sub_menu'" if controller.controller_name == 'shipping_methods' %>><%= link_to 'Shipping Methods', :controller => 'shipping_methods' %></li>
<li <%= "id='selected_sub_menu'" if controller.controller_name == 'countries' %>><%= link_to 'Countries', :controller => 'countries' %></li>

