- title "Basket Empty"

%p= "To place a manual order first browse the #{link_to 'product pages', :controller => 'products', :action => 'list'} and add the require items to the cart just as a customer would then come back here and a new order form will be displayed in place of this message"

