- title "Sorry the change you wanted was rejected."

%p Sorry the change you wanted was rejected. Maybe you tried to change something you didn't have access to or maybe there is a bug in the website; either way our leader developer has been informed and will be rushing to fix the issue. In the meantime if you need some assitance why not call us and we'll see what we can do to help you.

